.*
*/_*
*.bak
.gitattributes
.lsat_checked
.gitconfig.
*~
~*
_tmp*
tmp*
__pycache__/
*.py[cod]
.$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.egg-info/
.installed.cfg
*.egg

.manifest
.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipybn_checkpoints

.python-version

celerbeat-schedule

*.sage.py

.env
.venv
venv/
ENV/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/

.vscode
*.swp

.pytest_cache

docs_src/.last_checked

docs_src/fastai
tools/fastai

chechlink/cookies.txt

.gitconfig
